* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #134E5E;
  background: -webkit-linear-gradient(to right, #71B280, #134E5E);
  background: linear-gradient(to right, #71B280, #134E5E);
}

.upper-container {
  background: #DAD299;
  background: -webkit-linear-gradient(to top, #B0DAB9, #DAD299);
  background: linear-gradient(to top, #B0DAB9, #DAD299);
}
.lower-container {
  background: #636363;
  background: -webkit-linear-gradient(to top, #a2ab58, #636363);
  background: linear-gradient(to bottom, #a2ab58, #636363);
}

.slideshow-container {
  margin: auto;
  max-width: 1000px;
  position: relative;
  padding: 10px;
}

.mySlides {
  display: none;
}

img {
  height: auto;
  max-height: 700px;
  width: 100%;
  vertical-align: middle;
  border-radius: 20px;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 15px 12px;
  position: absolute;
  top: 0;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  color: white;
  padding: 16px;
  margin-top: -22px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 10px;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

h1 {
  text-align: center;
  font-size: 54px;
  color: #e7f79b;
  font-family: "Cinzel Decorative", cursive;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 5px;
}

p, ul, center {
  width: 100%;
  vertical-align: middle;
  line-height: 3.5vh;
  color: #fff;
  font-family: "Arima Madurai", cursive;
}

li {
  font-weight: 600;
  list-style-type: square;
  font-family: "Arima Madurai", cursive;
}

span, i {
  font-weight: normal;
  font-family: "Arima Madurai", cursive;
}

a {
  text-decoration: none;
  font-weight: 600;
}

footer {
  border-radius: 50px;
}

@media only screen and (max-width: 300px) {
  .prev, .next, li, p, center {
    font-size: 11px
  }
  h1 {
    font-size: 24px;
  }
}